            a:hover {
                color: hsl(318, 58%, 46%);
                transition: 2s;
                -webkit-transition: 2s;
                -moz-transition: 2s;
                -ms-transition: 2s;
                -o-transition: 2s;
            }
            
            a {
                text-decoration: none;
            }
            /*Sidebar*/
            
            .container {
                float: right;
                background: rgb(129, 255, 108);
                width: 30%;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
            }
            
            .item {
                padding: 10px;
                margin: 50px;
                border: 5px solid rgb(255, 255, 20);
                flex-basis: 100px;
                flex-grow: 1;
                flex-shrink: 1;
            }
            
            .image-grid {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
            
            .image-grid>img {
                margin: 10px;
            }
            
            img {
                width: 400px;
                height: 200px;
                transition: 0.5s all;
            }
            
            img:hover {
                height: 250px;
                width: 500px;
            }
            
            .submit-button {
                background: rgb(89, 150, 255);
                padding: 10px 14px;
                border: none;
                font-family: "lato", sans-serif;
                font-size: 20px;
                font-weight: bolder;
                color: white;
                margin: 20px 10px;
                width: 70px;
                text-align: center;
                transition: all 1.5s ease-in-out;
                -webkit-transition: all 1.5s ease-in-out;
                -moz-transition: all 1.5s ease-in-out;
                -ms-transition: all 1.5s ease-in-out;
                -o-transition: all 1.5s ease-in-out;
                /*transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);*/
                animation-name: rotation;
                animation-duration: 60s;
            }
            
            .submit-button:hover {
                background: rgb(147, 187, 255);
                padding: 20px 28px;
            }
            
            #sam {
                animation-name: rotation;
                animation-duration: 60s;
            }
            
            @keyframes rotation {
                from {
                    transform: rotate(0deg);
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -ms-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                }
                to {
                    transform: rotate(360deg);
                    -webkit-transform: rotate(360deg);
                    -moz-transform: rotate(360deg);
                    -ms-transform: rotate(360deg);
                    -o-transform: rotate(360deg);
                }
            }
            /*
This code has been saved for reference on my project.
.flex-box {
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 200px;
}

.flex-items {
    margin: 50px;
    width: 200px;
}*/